@charset "utf-8";
// ===================================================================
//  use company
// ===================================================================
.st_company{
	padding: 70px 0;
	.button-list{
		margin-bottom: 70px;
	}
	article{
		+article{
			margin-top: 70px;
		}
		p{
			font-size: 14px;
			line-height: 25px;
			margin-bottom: 30px;
		}
		em{
			font-style: normal;
			text-align: right;
			font-size: 12px;
			line-height: 25px;
			display: block;
			span{
				display: inline-block;
				font-size: 18px;
				line-height: 1;
			}
		}
	}
	table,th,td{
		border-collapse: collapse;
	}
	.tbl_info{
		width: 100%;
		border: 2px solid #1177bf;
		margin-bottom: 70px;
		tr{
			&:not(:last-child){
				border-bottom: 1px solid #1177bf;
			}
			th{
				border-right: 1px solid #1177bf;
				font-size: 14px;
				line-height: 25px;
				font-weight: bold;
				color: #1177bf;
				text-align: center;
				vertical-align: middle;
				padding: 15px 0;
				background-color: #d4e6f3;
				width: 180px;
			}
			td{
				font-size: 14px;
				line-height: 25px;
				padding: 15px 25px;
				background-color: #fff;
			}
		}
	}
	.map {
		iframe {
			width: 100%;
			height: 360px;
			border: 2px solid #fff;
			line-height: 0;
		}
		.btn_map {
			a {
				width: 235px;
				margin: 20px auto 40px;
				display: block;
				background: #fff;
				color: #1177bf;
				font-size: 14px;
				text-align: center;
				padding: 7px 10px;
				position: relative;
				border: 1px solid #1177bf;
				transition: all 400ms cubic-bezier(1, 0, 0, 1);
				&:after {
					content: "";
				    width: 0%;
				    height: 100%;
				    position: absolute;
				    right: 0;
				    top: 0;
				    left: inherit;
				    transition: all 400ms cubic-bezier(1, 0, 0, 1);
				    transition-timing-function: cubic-bezier(1, 0, 0, 1);
					background: #1177bf;
				}
				span {
					display: inline-block;
					position: relative;
					padding-left: 15px;
			  		z-index: 2;
					&:before {
						position: absolute;
						content: '';
						left: 0;
						top: 50%;
						margin-top: -5px;
						width: 0; 
						height: 0; 
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						border-left: 5px solid #1177bf;
						transition: all 400ms cubic-bezier(1, 0, 0, 1);
					}
				}
				&:hover {
					color: #fff;
					&:after {
						right: inherit;
						left: 0;
						width: 100%;
					}
					span {
						&:before {
							border-left: 5px solid #fff;
						}
					}
				}
			}
		}
	}
	.b_bottom {
		display: flex;
		figure{
			width: 50%;	
			padding-right: 25px;
			figcaption{
				font-size: 14px;
				line-height: 25px;
				margin-top: 10px;
				text-align: center;
			}		
		}
		&_right {
			width: 50%;
		}
	}
	.b_ab {
		position: relative;
		&_fac {
			padding: 40px 30px;
			background-color: #fff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			max-width: 540px;
			p {
				margin-bottom: 0;
			}
		}
	}
	.b_equipment {
		padding: 30px;
		background: url(../img/bkg_tbl.jpg) no-repeat;
		background-size: cover;
		position: relative;
		display: flex;
		margin-bottom: 50px;
		.tbl_info {
			max-width: calc(100% - 420px);
			margin-bottom: 0;
			th {
				width: calc(100% - 180px);
			}
			td {
				width: 180px;
				text-align: center;
			}
		}
		.b_eq_txt {
			height: auto;
			max-width: 400px;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			height: auto;
			padding-left: 20px;
			p{
				background-color: #fff;
				padding: 25px;
				margin-bottom: 0;
			}
		}
	}
	.list_img {
		display: flex;
		flex-flow: row wrap;
		margin-left: -26px;
		figure {
			width: calc(33.33% - 26px);
			margin: 0 0 26px 26px;
			figcaption {
				font-size: 14px;
				line-height: 25px;
				margin-top: 10px;
				text-align: center;
			}
		}
	}
	.b_img_map {
		figure {
			text-align: center;
			line-height: 0;
		}
	}
}
@media screen and (min-width: 769px) and (max-width: 993px) {
	.st_company {
		.b_equipment {
			display: block;
			.tbl_info {
				max-width: 100%;
				margin-bottom: 20px;
			}
			.b_eq_txt{
				padding-left: 0;
				max-width: 100%;
			}
		}
	}
}