@charset "utf-8";

// ===================================================================
//  use company
// ===================================================================
.st_company {
    padding: 40px 0;
    .button-list {
        margin-bottom: 30px;
    }
    article {
        +article {
            margin-top: 40px;
        }
        p {
            font-size: 12px;
            line-height: 22px;
            margin-bottom: 20px;
        }
        em {
            font-style: normal;
            text-align: right;
            font-size: 12px;
            line-height: 22px;
            display: block;
            span {
                display: inline-block;
                font-size: 14px;
                line-height: 1;
            }
        }
    }
    table,th,td {
        border-collapse: collapse;
    }
    .tbl_info {
        width: 100%;
        border: 2px solid #1177bf;
        margin-bottom: 40px;
        tr {
            &:not(:last-child) {
                border-bottom: 1px solid #1177bf;
            }
            th {
                border-right: 1px solid #1177bf;
                font-size: 12px;
                line-height: 22px;
                font-weight: bold;
                color: #1177bf;
                text-align: center;
                vertical-align: middle;
                padding: 10px 0;
                background-color: #d4e6f3;
                width: 140px;
            }
            td {
                font-size: 12px;
                line-height: 22px;
                padding: 10px 20px;
                background-color: #fff;
            }
        }
    }
    .map {
        iframe {
            width: 100%;
            height: 300px;
            border: 2px solid #fff;
            line-height: 0;
        }
        .btn_map {
            a {
                width: 235px;
                margin: 20px auto 40px;
                display: block;
                background: #fff;
                color: #1177bf;
                font-size: 14px;
                text-align: center;
                padding: 7px 10px;
                position: relative;
                border: 1px solid #1177bf;
                transition: all 400ms cubic-bezier(1, 0, 0, 1);
                &:after {
                    content: "";
                    width: 0%;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    left: inherit;
                    transition: all 400ms cubic-bezier(1, 0, 0, 1);
                    transition-timing-function: cubic-bezier(1, 0, 0, 1);
                    background: #1177bf;
                }
                span {
                    display: inline-block;
                    position: relative;
                    padding-left: 15px;
                    z-index: 2;
                    &:before {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 50%;
                        margin-top: -5px;
                        width: 0;
                        height: 0;
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        border-left: 5px solid #1177bf;
                        transition: all 400ms cubic-bezier(1, 0, 0, 1);
                    }
                }

                &:hover {
                    color: #fff;
                    &:after {
                        right: inherit;
                        left: 0;
                        width: 100%;
                    }
                    span {
                        &:before {
                            border-left: 5px solid #fff;
                        }
                    }
                }
            }
        }
    }
    .b_bottom {
        display: flex;
        figure {
            width: 50%;
            padding-right: 25px;
            figcaption {
                font-size: 12px;
                line-height: 22px;
                margin-top: 10px;
                text-align: center;
            }
        }
        &_right {
            width: 50%;
        }
    }
    .b_ab {
        position: relative;
        figure {
            line-height: 0;
        }
        &_fac {
            padding: 20px;
            background-color: #fff;
            p {
                margin-bottom: 0;
            }
        }
    }
    .b_equipment {
        padding: 10px;
        background: url(../img/bkg_tbl.jpg) no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 40px;
        .tbl_info {
            max-width: 100%;
            margin-bottom: 10px;
            th {
                width: calc(100% - 120px);
            }
            td {
                width: 120px;
                text-align: center;
            }
        }
        .b_eq_txt {
            height: auto;
            max-width: 100%;
            height: auto;
            p {
                background-color: #fff;
                padding: 20px;
                margin-bottom: 0;
            }
        }
    }
    .list_img {
        display: flex;
        flex-flow: row wrap;
        margin-left: -10px;
        figure {
            width: calc(50% - 10px);
            margin: 0 0 10px 10px;
            figcaption {
                font-size: 12px;
                line-height: 22px;
                margin-top: 10px;
                text-align: center;
            }
        }
    }
    .b_img_map {
        figure {
            text-align: center;
            line-height: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .st_company {
        .tbl_info {
            tr {
                th {
                    display: block;
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px solid #1177bf;
                    text-align: left;
                    padding: 10px;
                }
                td {
                    display: block;
                    width: 100%;
                    padding: 10px;
                }
            }
        }
        .b_bottom {
            display: block;
            figure {
                width: 100%;
                padding-right: 0;
                margin-bottom: 20px;
            }
            &_right {
                width: 100%;
            }
        }
        .b_equipment {
            .tbl_info {
                th {
                    width: 100%;
                }
                td {
                    width: 100%;
                }
            }
        }
    }
}