@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.advantage {
	.section-technology {
		.section-title {
			font-size: 26px;
		}
	}
}
/** section quality **/
.section-quality {
	background: #fff;
	padding: 70px 0px 100px;
	.container {
		max-width: 890px;
	}
	.section-title {
		margin-bottom: 50px;
	}
	&_list {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin: 0 0 50px -33px;
		li {
			width: calc(25% - 33px);
			margin: 0 0 30px 33px;
			text-align: center;
			font-size: 23px;
			font-weight: bold;
			color: #fff;
			background: #1177bf;
			padding: 35px 15px;
			span {
				display: block;
				font-family: 'DIN Pro Bold';
				font-size: 50px;
				line-height: 1;
				margin-bottom: 22px;
			}
			&:first-child {
				font-size: 18px;
				span {
					margin-bottom: 15px;
				}
			}
		}
	}
	p {
		margin-bottom: 60px;
	}
}

/** section special **/
.section-special {
	padding: 70px 0px 100px;
	.section-title {
		margin-bottom: 50px;
	}
	.view-more {
		.btn {
			max-width: 320px;
		}
	}
	.container {
		display: flex;
		flex-flow: row wrap;
	}
	&_col {
		width: 50%;
		padding: 0px 25px 120px 25px;
		position: relative;
		figure {
			margin-bottom: 50px;
		}
		&--quality {
			display: flex;
			flex-flow: row wrap;
			margin: 0px 0px 20px -11px;
			li {
				border: 5px solid #097bd2;
				background: #fff;
				text-align: center;
				width: calc(33.3333% - 11px);
				margin-left: 11px;
				padding: 10px 0px;
				font-size: 15px;
				color: #1177bf;
				font-weight: bold;
				display: flex;
				justify-content: center;
				span {
					align-self: center;

				}
			}
		}
		.view-more {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}
}

/** development page **/
/** ============================**/

/** section development **/
.section-development {
	padding: 70px 0px;
	p {
		margin-bottom: 30px;
		&.lead-txt {
			text-align: center;
			margin-bottom: 50px;
		}
	}
}
.advantage-list {
	display: flex;
	flex-flow: row wrap;
	margin-left: -25px;
	li {
		width: calc(33.3333% - 25px);
		margin-left: 25px;
		text-align: center;
		figure {
			line-height: 0;
			figcaption {
				line-height: 1;
				margin-top: 12px;
			}
		}
	}
}

/** support page **/
/** ========================== **/

/** section crane **/
.section-crane {
	padding: 70px 0px 60px;
	.section-title {
		margin-bottom: 40px;
	}
	p {
		margin-bottom: 35px;
		line-height: 1.8;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.support-art {
	&_crane {
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 40px;
		figure {
			width: 310px;
			line-height: 0;
		}
		&--ctn {
			width: calc(100% - 340px);
			margin-left: 30px;
			ul {
				margin-bottom: 15px;
				li {
					position: relative;
					display: block;
					margin-bottom: 7px;
					padding-left: 20px;
					&:before {
						position: absolute;
						content: '';
						left: 0;
						top: 5px;
						width: 7px;
						height: 7px;
						border-radius: 50%;
						background: #1177bf;
					}
				}
			}
		}
	}
}

/** section safety **/
.section-safety {
	background: #fff;
	padding: 60px 0px 60px;
	p {
		margin-bottom: 30px;
		line-height: 1.8;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

/** section repair **/
.section-repair {
	padding: 60px 0px 70px;
	p {
		margin-bottom: 30px;
		line-height: 1.8;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h4 {
		color: #1177bf;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.point-list {
		&:last-child {
			margin-bottom: 0px;
			li {
				width: 100%;
			}
		}
	}
}
.point-list {
	display: flex;
	flex-flow: row wrap;
	margin: 0px 0px 30px -10px;
	li {
		background: #fff;
		font-weight: bold;
		text-align: center;
		width: calc(50% - 10px);
		margin: 0px 0px 10px 10px;
		padding: 10px 15px; 
		position: relative;
		&:before {
			position: absolute;
			content: '';
			left: 3px;
			top: 3px;
			width: 0; 
			height: 0; 
			border-right: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid #1177bf;
			transition: all 400ms cubic-bezier(1, 0, 0, 1);
		}
	}
}

/** section rules **/
.section-rules {
	background: #fff;
	padding: 60px 0px 60px;
	&_img {
		display: flex;
		flex-flow: row wrap;
		margin: 0px 0px 40px -20px;
		li {
			width: calc(50% - 20px);
			margin-left: 20px;
		}
	}
	p {
		margin-bottom: 35px;
		line-height: 1.8;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

/** quality page **/
.st-quality {
	padding: 70px 0px 60px;
	p {
		margin-bottom: 30px;
	}
	.safety-list {
		display: flex;
		flex-flow: row wrap;
		margin: 0 0 20px -15px;
		li {
			width: calc(50% - 15px);
			margin: 0 0 10px 15px;
			display: flex;
			flex-flow: row wrap;
			span {
				display: inline-block;
				width: 70px;
				text-align: center;
				background: #1177bf;
				color: #fff;
				align-self: center;
				font-size: 16px;
				font-weight: bold;
				padding: 5px 0px;
			}
			p {
				align-self: center;
				width: calc(100% - 80px);
				margin: 0 0 0 10px;
			}
		}
	}
	.wrap {
		max-width: 860px;
		margin: 0 auto 40px;
		p {
			margin-bottom: 15px;
		}
	}
	&_iso {
		text-align: center;
		span {
			border: 1px solid #1177bf;
			color: #1177bf;
			background: #fff;
			font-weight: bold;
			padding: 12px;
			width: 270px;
			display: inline-block;
		}
	}
	.section-special_col--quality {
		li {
			padding: 25px 0px;
		}
	}
}