@charset "utf-8";
// ===================================================================
//  use advantage page
// ===================================================================
.advantage {
	.section-technology {
		.section-title {
			font-size: 16px;
		}
	}
}

/** section quality **/
.section-quality {
	background: #fff;
	padding: 35px 0px 50px;
	.container {
		max-width: 890px;
	}
	.section-title {
		margin-bottom: 30px;
	}
	&_list {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin: 0 0 30px -15px;
		li {
			width: calc(33.333% - 15px);
			margin: 0 0 15px 15px;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			color: #fff;
			background: #1177bf;
			padding: 17px 10px 10px;
			span {
				display: block;
				font-family: 'DIN Pro Bold';
				font-size: 32px;
				line-height: 1;
				margin-bottom: 5px;
			}
			&:first-child {
				font-size: 12px;
				span {
					margin-bottom: 10px;
				}
			}
		}
	}
	p {
		margin-bottom: 30px;
	}
}

/** section special **/
.section-special {
	padding: 35px 0px 50px;
	.section-title {
		margin-bottom: 30px;
	}
	&_col {
		margin-bottom: 50px;
		figure {
			margin-bottom: 20px;
		}
		&--quality {
			display: flex;
			flex-flow: row wrap;
			margin: 0px 0px 20px -8px;
			li {
				border: 5px solid #097bd2;
				background: #fff;
				text-align: center;
				width: calc(33.3333% - 8px);
				margin-left: 8px;
				padding: 10px 0px;
				font-size: 12px;
				color: #1177bf;
				font-weight: bold;
				display: flex;
				justify-content: center;
				span {
					align-self: center;

				}
			}
		}
	}
}

/** development page **/
/** ============================**/

/** section development **/
.section-development {
	padding: 35px 0px;
	p {
		margin-bottom: 30px;
		&.lead-txt {
			text-align: center;
			margin-bottom: 20px;
		}
	}
}
.advantage-list {
	li {
		max-width: 310px;
		margin: 0 auto 20px;
		text-align: center;
		&:last-child {
			margin-bottom: 0;
		}
		figure {
			line-height: 0;
			figcaption {
				line-height: 1;
				margin-top: 10px;
			}
		}
	}
}

/** support page **/
/** ========================== **/

/** section crane **/
.section-crane {
	padding: 35px 0px 35px;
	.section-title {
		margin-bottom: 30px;
	}
	p {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.support-art {
	&_crane {
		margin-bottom: 40px;
		figure {
			max-width: 310px;
			margin: 0 auto 20px;
			line-height: 0;
		}
		&--ctn {
			ul {
				margin-bottom: 15px;
				li {
					position: relative;
					display: block;
					margin-bottom: 5px;
					padding-left: 20px;
					&:before {
						position: absolute;
						content: '';
						left: 0;
						top: 5px;
						width: 7px;
						height: 7px;
						border-radius: 50%;
						background: #1177bf;
					}
				}
			}
		}
	}
}

/** section safety **/
.section-safety {
	background: #fff;
	padding: 35px 0px 35px;
	p {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

/** section repair **/
.section-repair {
	padding: 35px 0px 35px;
	p {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h4 {
		color: #1177bf;
		font-size: 14px;
		margin-bottom: 10px;
	}
}
.point-list {
	margin: 0px 0px 30px 0px;
	li {
		background: #fff;
		font-weight: bold;
		text-align: center;
		margin: 0px 0px 10px 0px;
		padding: 10px 15px; 
		position: relative;
		&:before {
			position: absolute;
			content: '';
			left: 3px;
			top: 3px;
			width: 0; 
			height: 0; 
			border-right: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid #1177bf;
			transition: all 400ms cubic-bezier(1, 0, 0, 1);
		}
	}
}

/** section rules **/
.section-rules {
	background: #fff;
	padding: 35px 0px 35px;
	&_img {
		margin: 0px 0px 30px 0px;
		li {
			margin-bottom: 15px;
		}
	}
	p {
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

/** quality page **/
.st-quality {
	padding: 35px 0px 35px;
	p {
		margin-bottom: 15px;
	}
	.safety-list {
		display: flex;
		flex-flow: row wrap;
		margin: 0 0 20px 0px;
		li {
			margin: 0 0 10px 0px;
			display: flex;
			flex-flow: row wrap;
			span {
				display: inline-block;
				width: 70px;
				text-align: center;
				background: #1177bf;
				color: #fff;
				align-self: center;
				font-size: 14px;
				font-weight: bold;
				padding: 5px 0px;
			}
			p {
				align-self: center;
				width: calc(100% - 80px);
				margin: 0 0 0 10px;
			}
		}
	}
	.wrap {
		max-width: 860px;
		margin: 0 auto 30px;
		p {
			margin-bottom: 15px;
		}
	}
	&_iso {
		text-align: center;
		span {
			border: 1px solid #1177bf;
			background: #fff;
			color: #1177bf;
			font-weight: bold;
			padding: 12px;
			width: 270px;
			display: inline-block;
		}
	}
}