@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.head-error {
    color: #ff0000;
    border: 2px solid #ff0000;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    margin-top: 50px;
    display: none;
}
.b_contact{
  .b_form{
    padding: 70px 60px 100px;
    .ttl_art{
      margin-bottom: 40px;
    }
    >p{
      line-height: 25px;
    }
    .view-more {
      margin-top: 60px;
    }
  }
  .ctn_f{
    margin-top: 40px;
    .txt_red{
      font-size: 16px;
      line-height: 1;
      color: #ff0000;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .frm_contact{
      .frm_group{
        display: flex;
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }
      label{
        width: 220px;
        font-size: 16px;
        line-height: 1;
        background-color: #1177bf;
        font-weight: bold;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        &.h_220{
          height: 220px;
        }
      }
      .left{
        width: calc(100% - 220px);
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .b_input{
          margin-bottom: 10px;
          &.error {
            .required {
              border: 2px solid #ff0000;
            }
          }
        }
        em{
          font-size: 14px;
          font-style: normal;
          line-height: 25px;
        }
        &.error {
          .required {
            border: 2px solid #ff0000;
          }
        }
      }
      .frm_control{
        width: 100%;
        height: 52px;
        line-height: 1;
        font-size: 16px;
        padding: 0 22px;
        border: none;
        background-color: #fff;
        outline: none;
      }
      .frm_textarea{
        width: 100%;
        height: 220px;
        line-height: 1.5;
        font-size: 16px;
        padding: 15px 22px;
        border: none;
        background-color: #fff;
        outline: none;
        resize: none;
      }
      .frm_checkbox{
        li{
          cursor: pointer;
          display: inline-block;
          padding: 5px 0;
          margin-left: 20px;
          /*&:not(:last-child){
            margin-right: 25px;
          }*/
          span{
            display: inline-block;
            position: relative;
            padding: 2px 0 0 28px;
            color: #471717;
            cursor: pointer;
            &:before,&:after{
              position: absolute;
              content: "";
              box-sizing: border-box;
              display: block;
              width: 20px;
              height: 20px;
              left: 3px;
              top: 4px;
            }
             &:before{
              border: 2px solid #1177bf;
              background-color: #fff;
            } 
          }
          label{
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #000;
            background:transparent;
            width: auto;
            padding: 0;
          }
          input[type="checkbox"]{
            display: none;
          }
          input[type="checkbox"]:checked + span::after {
            background: url("../img/check.svg") 0 0 no-repeat;
            background-size: 12px 9px;
            left: 7px;
            top: 10px;
          }
        }
      }
      .frm_price{
        display: flex;
        li{
          width: 33%;
           &:not(:last-child){
            margin-right: 3%;
          } 
          span{
            font-size: 16px;
            line-height: 25px;
            display: inline-block;
            margin-right: 5px;
          }
          .frm_control_pr{
            width: 48px;
            height: 35px;
            line-height: 1;
            font-size: 16px;
            padding: 0 10px;
            border: none;
            background-color: #fff;
            outline: none;
          }
          ins{
            text-decoration: none;
            font-size: 16px;
            line-height: 25px;
            display: inline-block;
            margin-left: 5px;
          }
        }
      }
      .frm_btn {
        .btn {
          cursor: pointer;
        }
      }
      /*.frm_btn{
        text-align: center;
        margin-top: 50px;
        button{
          width: 418px;
          height: 70px;
          border: none;
          background-color: #1177bf;
          font-weight: bold;
          color: #fff;
          font-size: 20px;
          line-height: 1;
          cursor: pointer;
          span{
            position: relative;
            padding-left: 15px;
            &:before{
              content:"";
              background: url(../images/arr.svg) no-repeat;
              width: 5px;
              height: 8px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
        }
      }*/
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 993px) {
  .b_contact {
    .gr_box article {
      .b_tel{
        span{
          width: 100px;
          font-size: 16px;
        }
        .tel{
          font-size: 22px;
          width: calc(100% - 100px);
        }
      }
    }
    .ctn_f {
      .frm_contact {
        label{
          width: 170px;
        }
        .left{
          width: calc(100% - 170px);
        }
        .frm_price {
          display: block;
          li{
            display: inline-block;
            width: auto;
            &:not(:last-child){
              margin: 0 1% 10px 0;
            }
          }
        }
      }
    }
  }
}
::-webkit-input-placeholder {
  color: #cccccc;
}
:-moz-placeholder {
  color: #cccccc;
}
::-moz-placeholder {
  color: #cccccc;
}
:-ms-input-placeholder {
  color: #cccccc;
}