@charset "utf-8";

// ===================================================================
//  use toppage
// ===================================================================
.head-error {
    color: #ff0000;
    border: 2px solid #ff0000;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 2px;
    margin-top: 30px;
    display: none;
}
.b_contact {
  .b_form {
    padding: 40px 0;
    .ttl_art {
      margin-bottom: 40px;
    }
    >p {
      line-height: 25px;
    }
  }
  .ctn_f {
    margin-top: 40px;
    .txt_red {
      font-size: 16px;
      line-height: 1;
      color: #ff0000;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .frm_contact {
      .frm_group {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
      label {
        width: 140px;
        font-size: 12px;
        line-height: 1;
        background-color: #1177bf;
        font-weight: bold;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        &.h_220 {
          height: 150px;
        }
      }
      .left {
        width: calc(100% - 140px);
        padding-left: 10px;
        .b_input {
          margin-bottom: 10px;
          &.error {
            .required {
              border: 2px solid #ff0000;
            }
          }
        }
        em {
          font-size: 12px;
          font-style: normal;
          line-height: 22px;
        }
        &.error {
          .required {
            border: 2px solid #ff0000;
          }
        }
      }
      .frm_control {
        width: 100%;
        height: 35px;
        line-height: 1;
        font-size: 12px;
        padding: 0 10px;
        border: none;
        background-color: #fff;
        outline: none;
      }
      .frm_textarea {
        width: 100%;
        height: 150px;
        line-height: 1.5;
        font-size: 12px;
        padding: 10px;
        border: none;
        background-color: #fff;
        outline: none;
        resize: none;
      }
      .frm_checkbox{
        li{
          cursor: pointer;
          display: inline-block;
          padding: 5px 0;
          &:not(:last-child){
            margin-right: 25px;
          }
          span{
            display: inline-block;
            position: relative;
            padding: 2px 0 0 28px;
            color: #471717;
            cursor: pointer;
            &:before,&:after{
              position: absolute;
              content: "";
              box-sizing: border-box;
              display: block;
              width: 16px;
              height: 16px;
              left: 3px;
              top: 4px;
            }
             &:before{
              border: 2px solid #1177bf;
              background-color: #fff;
            } 
          }
          label{
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #000;
            background:transparent;
            width: auto;
            padding: 0;
          }
          input[type="checkbox"]{
            display: none;
          }
          input[type="checkbox"]:checked + span::after {
            background: url("../img/check.svg") 0 0 no-repeat;
            background-size: contain;
            background-size: 10px 7px;
            left: 6px;
            top: 9px;
          }
        }
      }
      .frm_price{
        li{
          display: inline-block;
          padding: 5px 0;
           &:not(:last-child){
            margin-right: 3%;
          } 
          span{
            font-size: 12px;
            line-height: 22px;
            display: inline-block;
          }
          .frm_control_pr{
            width: 48px;
            height: 30px;
            line-height: 1;
            font-size: 16px;
            padding: 0 10px;
            border: none;
            background-color: #fff;
            outline: none;
          }
          ins{
            text-decoration: none;
            font-size: 12px;
            line-height: 22px;
            display: inline-block;
          }
        }
      }
      /*.frm_btn {
        text-align: center;
        margin-top: 30px;
        button {
          width: 280px;
          height: 40px;
          border: none;
          background-color: #1177bf;
          font-weight: bold;
          color: #fff;
          font-size: 16px;
          line-height: 1;
          cursor: pointer;
          span {
            position: relative;
            padding-left: 15px;
            &:before {
              content: "";
              background: url(../img/arr.svg) no-repeat;
              width: 5px;
              height: 8px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
        }
      }*/
    }
  }
}
@media screen and (max-width: 375px) {
  .b_contact {
    .ctn_f {
      .frm_contact {
        .frm_group{
          display: block;
        }
        label {
          width: 100%;
          padding: 10px;
          text-align: left;
          display: block;
          &.h_220{
            height: auto;
          }
        }
        .left {
          width: 100%;
          padding-left: 0;
        }
        .frm_btn {
          button{
            width: 100%;
          }
        }
      }
    }
  }
}