@charset "utf-8";

// ===================================================================
//  use toppage
// ===================================================================
.b_privacy {
  &_top {
    background-color: #ededed;
    padding: 72px 0 99px;
    .container{
      padding: 0 60px;
    }
    p {
      margin-bottom: 80px;
      font-size: 14px;
      line-height: 25px;
    }
    .ttl_art {
      margin-bottom: 40px;
    }
    .list {
      counter-reset: li;
      li {
        font-size: 14px;
        line-height: 25px;
        position: relative;
        padding-left: 24px;
        &:before {
          counter-increment: li;
          content: counter(li) ". ";
          font-size: 14px;
          line-height: 1;
          position: absolute;
          top: 7px;
          left: 0;
        }
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
  &_bottom{
    padding: 80px 0 100px;
    background: #fff;
    .b_info{
      display: flex;
      align-items: center;
      justify-content: center;
      &_left{
        .l_contact{
          width: 278px;
          height: 107px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          line-height: 1;
          color: #fff;
          font-weight: bold;
          background-color: #1177bf;
        }
      }
      &_right{
        padding-left: 40px;
        dl{
          dt{
            font-size: 18px;
            line-height: 40px;
            font-weight: bold;
            color: #1177bf;
            margin-bottom: 8px;
          }
          dd{
            font-size: 16px;
            line-height: 25px;
            .tel{
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}