@charset "utf-8";

// ===================================================================
//  use toppage
// ===================================================================
.b_privacy {
  &_top {
    background-color: #ededed;
    padding: 40px 0;
    p {
      margin-bottom: 30px;
      line-height: 25px;
    }
    .ttl_art {
      margin-bottom: 30px;
    }
    .list {
      counter-reset: li;
      li {
        line-height: 24px;
        position: relative;
        padding-left: 18px;
        &:before {
          counter-increment: li;
          content: counter(li) ". ";
          font-size: 12px;
          line-height: 1;
          position: absolute;
          top: 7px;
          left: 0;
        }
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
  &_bottom{
    padding: 40px 0;
    background: #fff;
    .b_info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_left{
      	text-align: center;
      	margin-bottom: 20px;
        .l_contact{
          width: 278px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          line-height: 1;
          color: #fff;
          font-weight: bold;
          background-color: #1177bf;
        }
      }
      &_right{
        dl{
          dt{
            font-size: 16px;
            line-height: 26px;
            font-weight: bold;
            color: #1177bf;
            margin-bottom: 5px;
          }
          dd{
            font-size: 12px;
            line-height: 25px;
          }
        }
      }
    }
  }
}