@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
/** main visual **/
.main-visual {
	margin-top: 64px;
}
.main-slider {
	width: 100%;
	&_item {
		position: relative;
		&--img {
			width: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}
		&--txt {
			color: #fff;
			width: 100%;
			position: absolute;
			left: 0;
			top: 15px;
			.container {
				overflow: visible;
			}
			h2 {
				background: #1177bf;
				display: inline-block;
				position: relative;
				padding: 12px 15px 12px 0px;
				font-size: 11px;
				line-height: 1.8;
				&:after {
					position: absolute;
					width: 500%;
					height: 100%;
					content: '';
					background: #1177bf;
					left: -500%;
					top: 0;
					z-index: 0;
				}	
			}
		}
	}
}

/** section special **/
.section-special {
	background: #fff;
	padding: 30px 0px 50px;
	&_list {
		li {
			max-width: 450px;
			margin: 0 auto 40px;
			&:last-child {
				margin-bottom: 0px;
			}
			a {
				display: block;
				figure {
					width: 100%;
					overflow: hidden;
					margin-bottom: 15px;
					img {
						transition: all .3s ease;
					}
				}
				h3 {
					font-size: 15px;
					color: #1177bf;
					text-align: center;
					margin-bottom: 15px;
				}
				p {
					margin-bottom: 15px;
				}
				&:hover {
					figure {
						img {
							transform: scale(1.12);
						}
					}
					.btn {
						color: #1177bf;
						&:after {
							right: inherit;
							left: 0;
							width: 100%;
						}
						span {
							&:before {
								border-left: 5px solid #1177bf;
							}
						}
					}
				}
			}
		}
	}
}

.toppage {
	.main {
		margin-top: 0px;
	}
}

/** section links **/
.section-links {
	background: #fff;
	padding: 40px 0px 50px;
	&_list {
		display: flex;
		flex-flow: row wrap;
		li {
			margin-bottom: 20px;
			display: block;
			width: 100%;
			a {
				width: 100%;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				background: url(../img/btn-overlay_01.gif) left top repeat;
				.links-info {
					width: 50%;
					text-align: center;
					align-self: center;
					color: #fff;
					p {
						font-size: 10px;
						margin-bottom: 10px;
						font-family: 'DIN';
					}
					h3 {
						font-size: 13px;
						margin-bottom: 15px;
					}
					.links-btn {
						background: #fff;
						color: #000;
						display: inline-block;
						line-height: 1;
						padding: 5px 15px;
						border-radius: 20px;
						span {
							line-height: 1;
							font-size: 10px;
							font-weight: bold;
							display: inline-block;
							position: relative;
							padding-left: 8px;
					  		z-index: 2;
							&:before {
								position: absolute;
								content: '';
								left: 0;
								top: 50%;
								margin-top: -4px;
								width: 0; 
								height: 0; 
								border-top: 4px solid transparent;
								border-bottom: 4px solid transparent;
								border-left: 4px solid #000;
								transition: all 400ms cubic-bezier(1, 0, 0, 1);
							}
						}
					}
				}
				figure {
					line-height: 0;
					width: 50%;
					overflow: hidden;
					img {
						transition: all .3s ease;
					}
				}
				&:hover {
					opacity: .75;
					figure {
						img {
							transform: scale(1.12);
						}
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
				a {
					background: url(../img/btn-overlay_02.gif) left top repeat;
				}
			}
		}
	}
}