@charset "utf-8";

// ===================================================================
//  common_sp.css
// ===================================================================
// ===================================================================
img {
    width: 100%;
    height: auto;
}

body {
    font-size: 12px;
    &.bg {
        position: fixed;
        height: 100%;
        overflow: hidden;
    }
}

.show_pc {
    display: none !important;
}

.row {
    padding: 0 vw(30);
}

.toppage {
    .main {
        margin-top: 75px;
    }
}

/* .main {
padding: 30px 0px 40px;
} */
.main {
    background-color: #ededed;
}

.page-title {
    background: #1177bf;
    text-align: center;
    padding: 45px 0px;
    margin-top: 64px;
    &_ttl {
        color: #fff;
        font-size: 22px;
        span {
            display: block;
            font-size: 12px;
        }
    }
}

.section-title {
    color: #1177bf;
    font-size: 14px;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &:after {
        position: absolute;
        content: '';
        width: 50px;
        height: 1px;
        background: #1177bf;
        left: 50%;
        bottom: 0;
        margin-left: -25px;
    }

    &_sub {
        font-size: 14px;
        color: #1177bf;
        padding-bottom: 5px;
        margin-bottom: 25px;
        position: relative;

        &:before,
        &:after {
            position: absolute;
            content: '';
            left: 0;
            background: #1177bf;
        }

        &:before {
            bottom: 0;
            width: 100%;
            height: 1px;
        }

        &:after {
            bottom: -3px;
            width: 98px;
            height: 4px;
        }

        &--sm {
            background: #fff;
            color: #1177bf;
            font-size: 14px;
            border: 1px solid #1177bf;
            border-left: 4px solid #1177bf;
            padding: 5px 10px;
            margin-bottom: 15px;
        }
    }
}

.section-head_txt {
    margin: 0 auto 35px;
}

.btn {
    background: #1177bf;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    position: relative;
    border: 1px solid #1177bf;
    transition: all 400ms cubic-bezier(1, 0, 0, 1);

    &:after {
        content: "";
        width: 0%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        left: inherit;
        transition: all 400ms cubic-bezier(1, 0, 0, 1);
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
        background: rgba(255, 255, 255, 1);
    }

    span {
        display: inline-block;
        position: relative;
        padding-left: 15px;
        z-index: 2;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            margin-top: -5px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #fff;
            transition: all 400ms cubic-bezier(1, 0, 0, 1);
        }
    }

    &:hover {
        color: #1177bf;

        &:after {
            right: inherit;
            left: 0;
            width: 100%;
        }

        span {
            &:before {
                border-left: 5px solid #1177bf;
            }
        }
    }
}

.breadcrumb {
    padding: 15px 0px;
    background: #fff;

    ul {
        li {
            position: relative;
            padding-left: 25px;
            display: inline-block;
            font-size: 12px;

            a {
                text-decoration: underline;
            }

            &:before {
                position: absolute;
                left: 10px;
                top: 0px;
                content: '>';
            }

            &:first-child {
                padding: 0;

                &:before {
                    content: '';
                }
            }
        }
    }
}

.ttl_art {
    font-size: 20px;
    line-height: 1;
    color: #1177bf;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding-bottom: 15px;

    &:after {
        content: "";
        width: 100px;
        height: 1px;
        background-color: #1177bf;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

/** section technology **/
.section-technology {
    background: #ededed;
    padding: 50px 0px 50px;

    .section-title {
        margin-bottom: 35px;
    }

    &_list {
        display: flex;
        flex-flow: row wrap;
        margin: 0 0 0px -15px;

        li {
            width: calc(50% - 15px);
            margin: 0 0 15px 15px;

            a {
                display: block;
                text-align: center;

                figure {
                    width: 100%;
                    overflow: hidden;
                    margin-bottom: 2px;

                    img {
                        transition: all .3s ease;
                    }
                }

                h3 {
                    color: #1177bf;
                    background: #fff;
                    display: block;
                    padding: 10px;
                    font-size: 12px;
                }

                &:hover {
                    figure {
                        img {
                            transform: scale(1.12);
                        }
                    }
                }
            }
        }
    }
}

.view-more {
    text-align: center;
    margin-top: 30px;

    .btn {
        display: inline-block;
        font-size: 12px;
        width: 100%;
        max-width: 418px;
        padding: 20px 15px;
    }
}

/** section related **/
.section-related {
    background: #fff;
    padding: 35px 0px 50px;

    &_title {
        font-size: 18px;
        color: #1177bf;
        text-align: center;
        margin-bottom: 10px;
    }

    &_list {
        li {
            max-width: 310px;
            margin: 0 auto 20px;

            &:last-child {
                margin-bottom: 0;
            }

            figure {
                text-align: center;
                position: relative;
                overflow: hidden;
                line-height: 0;

                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(17, 119, 191, 0.6);
                    opacity: 0;
                    z-index: 2;
                    transition: all .3s ease;
                }

                img {
                    transition: all .3s ease;
                }

                figcaption {
                    line-height: 1;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: 50%;
                    transform: translate(0, -50%);
                    font-size: 14px;
                    color: #fff;
                    background: rgba(17, 119, 191, 0.9);
                    padding: 20px 0px;
                    font-weight: bold;

                    span {
                        position: relative;
                        padding-left: 15px;
                        z-index: 2;

                        &:before {
                            position: absolute;
                            content: '';
                            left: 0;
                            top: 50%;
                            margin-top: -5px;
                            width: 0;
                            height: 0;
                            border-top: 5px solid transparent;
                            border-bottom: 5px solid transparent;
                            border-left: 5px solid #fff;
                            transition: all 400ms cubic-bezier(1, 0, 0, 1);
                        }
                    }
                }
            }

            a {
                display: block;

                &:hover {
                    figure {
                        &:before {
                            opacity: 1;
                        }

                        img {
                            transform: scale(1.12);
                        }
                    }
                }

                &.current {
                    pointer-events: none !important;

                    figure {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &.col-4 {
        .section-related_list {
            display: flex;
            flex-flow: row wrap;
            margin: 0 0 -15px -15px;

            li {
                width: calc(50% - 15px);
                margin: 0 0 15px 15px;
            }
        }
    }
}

.button-list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 30px -10px;

    li {
        width: calc(50% - 10px);
        margin: 0 0 10px 10px;

        a {
            display: block;
            background: #fff;
            color: #1177bf;
            font-size: 12px;
            text-align: center;
            padding: 7px 10px;
            position: relative;
            border: 1px solid #1177bf;
            transition: all 400ms cubic-bezier(1, 0, 0, 1);

            &:after {
                content: "";
                width: 0%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                left: inherit;
                transition: all 400ms cubic-bezier(1, 0, 0, 1);
                transition-timing-function: cubic-bezier(1, 0, 0, 1);
                background: #1177bf;
            }

            span {
                display: inline-block;
                position: relative;
                padding-left: 10px;
                z-index: 2;

                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 50%;
                    margin-top: -4px;
                    width: 0;
                    height: 0;
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    border-left: 4px solid #1177bf;
                    transition: all 400ms cubic-bezier(1, 0, 0, 1);
                }
            }

            &:hover,
            &.current {
                color: #fff;

                &:after {
                    right: inherit;
                    left: 0;
                    width: 100%;
                }

                span {
                    &:before {
                        border-left: 5px solid #fff;
                    }
                }
            }

            &.current {
                pointer-events: none !important;
            }
        }
    }
}

.data-link {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 30px -10px;

    li {
        width: calc(100% / 3 - 10px);
        margin: 0 0 10px 10px;
        text-align: center;
        background: #e1e1e1;

        a {
            display: table;
            align-self: center;
            width: 100%;
            height: 100%;
            background: #e1e1e1;
            font-weight: bold;
            font-size: 11px;
            padding: 7px 5px;
            border: 2px solid #e1e1e1;

            span {
                vertical-align: middle;
                display: table-cell;
            }

            &:hover,
            &.current {
                border: 3px solid #1177bf;
                background: #fff;
                color: #1177bf;
                box-sizing: border-box;
            }

            &.current {
                pointer-events: none;
            }
        }
    }
}

.wrap-video {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
    overflow: hidden;
    display: none;
    z-index: 99;

    &_in {
        /*position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
width: 90%;
height: 50%;
max-width: 800px;
padding-bottom: 56.25%;*/
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: block;
        height: 0;
        padding-bottom: 56.25%;
    }

    iframe {
        position: absolute;
        top: 5%;
        bottom: 0;
        left: 5%;
        width: 90%;
        height: 90%;
        border: 0;
    }

    .close {
        font-size: 28px;
        background: #000;
        color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        top: calc(10% - 30px);
        right: calc(10% - 30px);
        position: absolute;
        border-radius: 50%;
        cursor: pointer;
    }
}

/** box contact **/
.gr_box {
    margin-left: 0;
    padding-bottom: 40px;

    article {
        background-color: #fff;
        padding: 5px;
        margin: auto;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .main_art {
            border: 2px solid #ededed;
            padding: 30px 28px 25px;
        }

        h3 {
            font-size: 16px;
            line-height: 1;
            color: #1177bf;
            font-weight: bold;
            margin-bottom: 20px;

            span {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
            }

            &.ttl_tel {
                span {
                    padding-left: 25px;

                    &:before {
                        background: url(../img/icon_tel.svg) no-repeat;
                        background-size: contain;
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            &.ttl_mail {
                span {
                    padding-left: 30px;

                    &:before {
                        background: url(../img/icon_mail.svg) no-repeat;
                        background-size: contain;
                        width: 22px;
                        height: 16px;
                    }
                }
            }
        }

        .b_tel {
            display: flex;
            border: 2px solid #ededed;
            min-height: 60px;
            margin-bottom: 10px;

            span {
                background-color: #ededed;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                line-height: 1;
                font-weight: bold;
            }

            .tel {
                width: calc(100% - 60px);
                font-size: 20px;
                line-height: 1;
                font-weight: bold;
                color: #ff8811;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        em {
            font-style: normal;
            font-size: 12px;
            line-height: 22px;
            display: block;
        }

        .list_btn {
            li {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                a {
                    font-size: 14px;
                    line-height: 1;
                    font-weight: bold;
                    color: #fff;
                    background-color: #ff8811;
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        position: relative;
                        padding-left: 10px;

                        &:before {
                            content: "";
                            background: url(../img/arr.svg) no-repeat;
                            width: 5px;
                            height: 8px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}