.footer {
	background: #1177bf;
	color: #fff;
	padding: 60px 0px 50px;
	a {
		color: #fff;
		display: inline-block;
		position: relative;
		padding-left: 13px;
		&:before {
			content: "";
		    width: 5px;
		    height: 5px;
		    display: block;
		    position: absolute;
		    top: 7px;
		    left: 0px;
		    transform: rotate(45deg);
		    transition: 0.2s;
		    border-top: 1px solid #fff;
    		border-right: 1px solid #fff;
		}
		&:hover {
			&:before {
				left: 3px;
			}
		}
	}
	&-inner {
		display: flex;
		flex-flow: row wrap;
		border-bottom: 1px solid #fff;
		padding-bottom: 50px;
		margin: 0px 20px 50px;
	}
	&-info {
		width: 280px;
		h3 {
			font-size: 21px;
			border-bottom: 1px solid #fff;
			display: inline-block;
			margin-bottom: 15px;
			padding-bottom: 15px;
		}
		p {
			line-height: 2.3;
		}
	}
	&-nav {
	    flex: 2 1 0;
	    columns: 3 auto;
	    column-gap: 1.875rem;
		ul {
		    flex-direction: column;
		    margin-bottom: 50px;
		    width: 100%;
		    display: block;
		    li {
		    	margin-bottom: 4px;
		    	&:last-child {
		    		margin-bottom: 0px;
		    	}
		    }
		}
	}
}
.copyright {
	font-size: 14px;
	text-align: center;
	display: block;
}

@media (min-width: 769px) and (max-width: 960px) {
	.footer {
		a {
			font-size: 12px;
		}
		&-inner {
			margin: 0 10px 50px;
		}
		&-info {
			width: 240px;
		}
		&-nav {
			ul {
				margin-bottom: 30px;
				&:nth-child(5) {
					margin-bottom: 65px;
				}
			}
		}
	}
}