@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================

@import "_mixin/mixin";

//----------------------------------------------------
//  共通
//----------------------------------------------------
html {
  font-size: 10px;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  text-decoration: none;
  transition: all .3s ease;
  /*color: #000;*/
/*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}
a:hover,
a:hover img,
.img_hover:hover {

  filter: alpha(opacity=75);
  -ms-filter: "alpha(opacity=75)";
  opacity: .75;

}
a {
  color: #000;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
.img_ck {
  font-size: rem(1);
  line-height: 0;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav , picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  font-family: "Yu Gothic", YuGothic, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro', 'Hiragino Maru Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, Tahoma, Verdana, Arial, Verdana, sans-serif;
  /* font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif; */
  font-size: rem(14);
  font-weight: 400;
  line-height: 1.5;
}

/** YoGo fonts **/

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

/** DIN fonts **/
@font-face {
    font-family: 'DIN';
    src: url('/common/fonts/DIN-Bold.eot');
    src: url('/common/fonts/DIN-Bold.eot?#iefix') format('embedded-opentype'),
        url('/common/fonts/DIN-Bold.woff2') format('woff2'),
        url('/common/fonts/DIN-Bold.woff') format('woff'),
        url('/common/fonts/DIN-Bold.svg#DIN-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('/common/fonts/DIN-Medium.eot');
    src: url('/common/fonts/DIN-Medium.eot?#iefix') format('embedded-opentype'),
        url('/common/fonts/DIN-Medium.woff2') format('woff2'),
        url('/common/fonts/DIN-Medium.woff') format('woff'),
        url('/common/fonts/DIN-Medium.svg#DIN-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('/common/fonts/DIN-RegularAlternate.eot');
    src: url('/common/fonts/DIN-RegularAlternate.eot?#iefix') format('embedded-opentype'),
        url('/common/fonts/DIN-RegularAlternate.woff2') format('woff2'),
        url('/common/fonts/DIN-RegularAlternate.woff') format('woff'),
        url('/common/fonts/DIN-RegularAlternate.svg#DIN-RegularAlternate') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('/common/fonts/DIN-Regular.eot');
    src: url('/common/fonts/DIN-Regular.eot?#iefix') format('embedded-opentype'),
        url('/common/fonts/DIN-Regular.woff2') format('woff2'),
        url('/common/fonts/DIN-Regular.woff') format('woff'),
        url('/common/fonts/DIN-Regular.svg#DIN-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('/common/fonts/DIN-Light.eot');
    src: url('/common/fonts/DIN-Light.eot?#iefix') format('embedded-opentype'),
        url('/common/fonts/DIN-Light.woff2') format('woff2'),
        url('/common/fonts/DIN-Light.woff') format('woff'),
        url('/common/fonts/DIN-Light.svg#DIN-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('/common/fonts/DIN-BlackAlternate.eot');
    src: url('/common/fonts/DIN-BlackAlternate.eot?#iefix') format('embedded-opentype'),
        url('/common/fonts/DIN-BlackAlternate.woff2') format('woff2'),
        url('/common/fonts/DIN-BlackAlternate.woff') format('woff'),
        url('/common/fonts/DIN-BlackAlternate.svg#DIN-BlackAlternate') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
font-family: 'DIN Pro Bold';
font-style: normal;
font-weight: normal;
src: local('/common/fonts/DIN Pro Bold'), url('/common/fonts/DINPro-Bold.woff') format('woff');
}

//---------------------------------------------------------------------------
//CMS用
.file {
  border-top: 1px dotted #cccccc;
  margin: 15px 0;
  padding: 10px 0 0;
  text-align: left;

  .pdf {
    background: url(../images/cms/pdf.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .ppt {
    background: url(../images/cms/ppt.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .xls,
  .xlsx {
    background: url(../images/cms/xls.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .doc,
  .docx {
    background: url(../images/cms/doc.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
}

.top-right {
  float: right;
  margin: 0px 0px 30px 30px;
}
.top-left {
  float: left;
  margin: 0px 30px 30px 0px;
}
.top-center {
  margin: 0px 0px 30px 0px;
  text-align:center;
}
.bottom-right {
  float: right;
  margin: 30px 0px 0px 30px;
}
.bottom-left {
  float: left;
  margin: 30px 30px 0px 0px;
}
.bottom-center {
  margin: 30px 0px 0px 0px;
  text-align:center;
}
.entry-container b {
  font-weight: bold;
}
.entry-container i {
  font-style: italic;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
* {
  box-sizing: border-box;
}

picture {
  display: block;
}
html,body {
  width: 100%;
  height: 100%;
}
main{
  overflow-x: hidden;
}
.container {
  max-width: 1010px;
  padding: 0px 15px;
  overflow: hidden;
  margin: 0 auto;
}
//---------------------------------------------------------------------------
@include min-screen() {
  @import "./_common_pc.scss";
  @import "./_ttl_pc.scss";
  @import "./_header_pc.scss";
  @import "./_footer_pc.scss";
}

@include max-screen() {
  @import "./_common_sp.scss";
  @import "./_ttl_sp.scss";
  @import "./_header_sp.scss";
  @import "./_footer_sp.scss";
}

.effect{
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.fadeInUp{
  opacity: 0;
  transform: translateY(100px);
  &.active{
    opacity: 1;
    transform: translate(0);
  }
}

.flowCld{
  &:before{
    transition: width 0.5s 0.5s, height 0.5s 1s;
    width: 0;
    height: 0;
  }
  &:after{
    transition: width 0.5s 0.5s, height 0.5s 1s;
    width: 0;
    height: 0;
  }
  &.active{
    &:before{
      width: 100%;
      height: 100%;
    }
    &:after{
      width: 100%;
      height: 100%;
    }
  }
}

.delay_03 {
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0.3s;
}
.delay_06 {
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0.6s;
}
.delay_09 {
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0.9s;
}
.delay_12 {
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 1.2s;
}
.delay_15 {
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 1.5s;
}
