@charset "utf-8";

.section-recruit {
    &_top {
        padding: 35px 0 50px;
        .section-title {
            margin-bottom: 30px;
        }
        .section-title_sub {
            margin-bottom: 30px;
        }
    }
    &_bottom {
        padding: 40px 0;
        background: #fff;
    }
}
.recruit {
    &-list {
        margin-bottom: 50px;
        dl {
            font-size: 12px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            dt {
                background: #1177bf;
                font-weight: bold;
                color: #fff;
                padding: 10px;
            }
            dd {
                padding: 10px;
                background: #fff;
            }
        }
    }
    &-steps {
        text-align: center;
        li {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            background: #1177bf;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            display: table;
            margin: 0 auto;
            span {
                display: table-cell;
                vertical-align: middle;
            }
            &:not(:last-child) {
                margin-bottom: 50px;
                position: relative;
                &:before {
                    position: absolute;
                    content: '';
                    width: 0; 
                    height: 0;
                    left: 50%;
                    bottom: -35px;
                    margin-left: -20px;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 20px solid #efd600;
                }
            }
        }
    }
}
.col {
    &-contact {
        width: 100%;
        max-width: 280px;
        margin: 0 auto 30px;
        a {
            background: #1177bf;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            display: block;
            text-align: center;
            padding: 20px 0px;
        }
    }
    &-info {
        font-size: 14px;
        max-width: 280px;
        margin: 0 auto 30px;
        h4 {
            color: #1177bf;
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    &-link {
        max-width: 280px;
        margin: 0 auto;
    }
}