@charset "utf-8";

.section-recruit {
    &_top {
        padding: 70px 0 100px;
        .section-title {
            margin-bottom: 50px;
        }
        .section-title_sub {
            margin-bottom: 60px;
        }
    }
    &_bottom {
        padding: 80px 0;
        background: #fff;
        .container {
            display: flex;
            flex-flow: row;
            max-width: 910px;
        }
    }
}
.recruit {
    &-list {
        margin: 0 auto 90px;
        max-width: 780px;
        dl {
            display: flex;
            font-size: 16px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            dt {
                width: 220px;
                background: #1177bf;
                font-weight: bold;
                color: #fff;
                padding: 15px;
                text-align: center;
            }
            dd {
                width: calc(100% - 235px);
                padding: 15px;
                background: #fff;
                margin-left: 15px;
            }
        }
    }
    &-steps {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        li {
            width: 178px;
            height: 178px;
            border-radius: 50%;
            background: #1177bf;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            display: table;
            span {
                display: table-cell;
                vertical-align: middle;
            }
            &:not(:first-child) {
                margin-left: 100px;
                position: relative;
                &:before {
                    position: absolute;
                    content: '';
                    width: 0; 
                    height: 0;
                    left: -60px;
                    top: 50%;
                    margin-top: -30px;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-left: 30px solid #efd600;
                }
            }
        }
    }
}
.col {
    &-contact {
        width: 280px;
        a {
            background: #1177bf;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            display: block;
            text-align: center;
            padding: 30px 0px;
        }
    }
    &-info {
        margin-left: 40px;
        font-size: 16px;
        h4 {
            color: #1177bf;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    &-link {
        align-self: center;
        margin-left: auto;
        width: 250px;
    }
}