@charset "utf-8";

// ===================================================================
//  use toppage
// ===================================================================
.st_product {
    padding: 40px 0;
    .b_top_product {
        margin-bottom: 40px;
        .section-technology_list {
            a {
                height: 100%;
            }
            figure {
                line-height: 0;
            }
            em {
                font-style: normal;
                background-color: #fff;
                text-align: left;
                display: block;
                padding: 0 20px 20px 20px;
                font-size: 12px;
                min-height: 150px;
                line-height: 22px;
            }
        }
    }
    .b_link_dt {
        p {
            margin-bottom: 25px;
        }
    }
    .b_list_btn {
        margin-bottom: 40px;
    }
    .gr_art {
        display: flex;
        flex-flow: row wrap;
        margin: 40px 0 0 -20px;
        article {
            width: calc(50% - 20px);
            margin: 0 0 20px 20px;
            figure {
                figcaption {
                    margin-top: 5px;
                    line-height: 22px;
                }
            }
        }
    }
    .btn_modal {
        a {
            font-size: 12px;
            line-height: 1;
            width: 100%;
            height: 40px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            color: #1177bf;
            margin: 10px auto 0;
            position: relative;
            border: 1px solid #fff;
            transition: all 400ms cubic-bezier(1, 0, 0, 1);
            overflow: hidden;
            transform: translateZ(0);
            &:after {
                content: "";
                border-radius: 30px;
                width: 0%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                left: inherit;
                transition: all 400ms cubic-bezier(1, 0, 0, 1);
                transition-timing-function: cubic-bezier(1, 0, 0, 1);
                background: rgba(255, 255, 255, 1);
                z-index: -1;
            }
            span {
                position: relative;
                padding-left: 27px;

                &:before {
                    content: "";
                    background: url(../img/icon_play.png) no-repeat;
                    background-size: contain;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
            &:hover {
                color: #fff;
                border: 1px solid #1177bf;

                &:after {
                    right: inherit;
                    left: 0;
                    width: 100%;
                    background: #1177bf;
                }
                span {
                    &:before {
                        background: url(../img/icon_hover.png) no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
    .gr_art_map {
        margin-top: 40px;
        article {
            +article {
                margin-top: 20px;
            }

            figure {
                text-align: center;
            }
        }
    }
    .gr_art_ladder {
        figure {
            text-align: center;
            margin-bottom: 30px;

            figcaption {
                margin-top: 8px;
            }
        }
        dl {
            border: 2px solid #1177bf;
            display: flex;
            dt {
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                color: #fff;
                background-color: #1177bf;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
            }
            dd {
                padding: 15px;
                background-color: #fff;
                width: calc(100% - 120px);
                ul {
                    li {
                        font-size: 12px;
                        line-height: 22px;
                        position: relative;
                        padding-left: 20px;
                        &:before {
                            content: "";
                            width: 7px;
                            height: 7px;
                            border-radius: 50%;
                            overflow: hidden;
                            position: absolute;
                            top: 8px;
                            background-color: #1177bf;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .st_product {
        .gr_art {
            article {
                width: 100%;
            }
        }

        .gr_art_ladder {
            dl {
                display: block;
                dt {
                    width: 100%;
                    padding: 10px 0;
                }

                dd {
                    width: 100%;
                }
            }
        }
    }
}

/** table style **/
.data-tbl {
    margin-bottom: 10px;
    max-width: 100%;
    padding-bottom: 10px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #ececec;
    }

    &::-webkit-scrollbar-thumb {
        background: #1670b2;
        border-radius: 20px;
    }
}

.tbl {
    border: 2px solid #1670b2;
    width: 980px;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid #1670b2;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
        font-size: 12px;
    }

    th {
        background-color: #d2e3f0;
        font-weight: bold;
        color: #1670b2;

        &.pale {
            background-color: #e4eef6;
        }
    }

    td {
        background: #fff;
    }

    &-left {
        th {
            text-align: left;
            padding: 10px 5px 10px 15px;

            &.pale {
                text-align: center;
                padding: 10px 5px;
            }

            &.center {
                text-align: center;
                padding: 10px 5px;
            }
        }
    }
}

.data-tbl_02 {
    .tbl {
        &-left {
            th {
                padding: 10px 5px 10px 5px;
            }
        }
    }
}

/** data page style **/
/** ======================== **/
.st-data {
    padding: 35px 0px 0px;

    figure {
        text-align: center;
        line-height: 0;
        margin-bottom: 20px;
    }

    .data-art {
        margin-bottom: 50px;

        p {
            margin-bottom: 15px;
        }
    }

    .data-tbl {
        margin-bottom: 10px;
    }
}

.st-rail {
    .data-tbl {
        margin-bottom: 15px;
    }

    .gr_art_ladder {
        margin-bottom: 30px;
    }
}