@charset "utf-8";

// ===================================================================
//  use toppage
// ===================================================================
.gr_sitemap {
    padding: 72px 0 100px;
    .ttl_item {
        font-size: 16px;
        line-height: 25px;
        font-weight: bold;
        background-color: #1177bf;

        a {
            color: #fff;
            position: relative;
            padding: 14px 15px 14px 40px;
            display: block;

            &:before {
                content: "";
                background: url(../img/arr.svg) no-repeat;
                width: 5px;
                height: 8px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 24px;
            }
        }
        span {
            color: #fff;
            position: relative;
            padding: 14px 15px 14px 24px;
            display: block;
        }
    }
    .b_sitemap {
        display: flex;
        margin: 0 0 0 -60px;
        padding: 0 60px;
        &_box {
            width: calc(50% - 60px);
            margin: 0 0 0 60px;
        }
    }
    article {
        width: 100%;
        margin-bottom: 40px;

        ul {
            background-color: #fff;

            li {
                &:not(:last-child) {
                    border-bottom: 1px solid #ededed;
                }

                a {
                    font-size: 14px;
                    line-height: 25px;
                    color: #1177bf;
                    position: relative;
                    display: block;
                    padding: 14px 15px 14px 40px;

                    &:before {
                        content: "";
                        background: url(../img/arr_02.svg) no-repeat;
                        width: 5px;
                        height: 8px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 24px;
                    }
                }
            }
        }
    }
}