@charset "utf-8";

// ===================================================================
//  use toppage
// ===================================================================

.gr_sitemap {
    padding: 40px 0;
    .ttl_item {
        font-size: 12px;
        line-height: 22px;
        font-weight: bold;
        background-color: #1177bf;
        a {
            color: #fff;
            position: relative;
            padding: 10px 0 10px 30px;
            display: block;
            &:before {
                content: "";
                background: url(../img/arr.svg) no-repeat;
                width: 5px;
                height: 8px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 18px;
            }
        }
        span {
            color: #fff;
            position: relative;
            padding: 10px 0 10px 18px;
            display: block;
        }
    }
    .b_sitemap {
        display: flex;
        margin: 0 0 0 -20px;
        &_box {
            width: calc(50% - 20px);
            margin: 0 0 0 20px;
        }
    }
    article {
        width: 100%;
        margin-bottom: 20px;
        ul {
            background-color: #fff;
            li {
                &:not(:last-child) {
                    border-bottom: 1px solid #ededed;
                }
                a {
                    font-size: 12px;
                    line-height: 22px;
                    color: #1177bf;
                    position: relative;
                    display: block;
                    padding: 10px 0 10px 30px;

                    &:before {
                        content: "";
                        background: url(../img/arr_02.svg) no-repeat;
                        width: 5px;
                        height: 8px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .gr_sitemap {
        .b_sitemap {
            display: block;
            margin: 0;
            &_box {
                width: 100%;
                margin: 0;
            }
        }
    }
}